* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: grey;
    color: white;

    padding: 1.3rem;

    margin-bottom: 20px;
}

.escondido {
    display: none;
}

.btn {
    font-size: 80%;

    background-color: crimson;
    color: white;

    padding: 0.7rem;
    border: 0;

    cursor: pointer;
}

.inscrito {
    background-color: grey;
}